<router-outlet></router-outlet>
<h1>{{title }}</h1>
<h3>{{welcomeMessage}}</h3>
{{name}}
<h4> Boolean</h4>
The value of showDiv is {{showDiv}}

<h4> Numbers </h4>
<p>The Integer Number is {{intNumber}} </p>
<p>The Hexadecimal Number is{{hexNumber}}</p>
<p>The Binary Number is{{binNumber}}</p>
<p>The Octal Number is{{octNumber}}</p>

 <!-- //Strings
  welcomeText : string = "Welcome to Angular Tutorial";
  name : string = 'Nixon';
  welcomeMessage : string = `Welcome ${name}, to the Angular Tutorial`;

  //Array
  ageGroup : number[] = [1,2,3,4,5];
  namesList : string[] = ['Edward', 'Nixon', 'Augustine'];  -->
